<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="E:\日常\三阶段\mybatis-two\src\main\java\com\works\bryant\entity" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>